<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인하기</title>
    <link rel="stylesheet" href="/css/table.css"/>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">

        // HTML 로딩이 완료되고, 실행됨
        $(document).ready(function () {
            // 회원가입
            $("#btnUserReg").on("click", function () {
                location.href = "/user/userRegForm";
            });
        });

        function checkInputData() {
            let f = document.getElementById("f"); // form 태그

            if (f.user_id.value === "") {
                alert("아이디를 입력하세요.");
                f.user_id.focus();
                return false;
            }

            if (f.password.value === "") {
                alert("비밀번호를 입력하세요.");
                f.password.focus();
                return false;
            }

            return true; // 모든 유효성 검사를 통과한 경우에만 true 반환
        }
    </script>
</head>
<body>
<h2>로그인하기</h2>
<hr/>
<br/>
<form action="/user/loginProc" method="post" onsubmit="return checkInputData()" id="f">
    <div class="divTable minimalistBlack">
        <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableCell">아이디</div>
                <div class="divTableCell">
                    <input type="text" name="user_id" id="user_id" style="width:95%"/>
                </div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">비밀번호</div>
                <div class="divTableCell">
                    <input type="password" name="password" id="password" style="width:95%"/>
                </div>
            </div>
        </div>
    </div>
    <div>
        <button id="btnLogin" type="submit">로그인</button>
        <button id="btnUserReg" type="button">회원가입</button>
    </div>
</form>
</body>
</html>
